@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 24vw;
}

p a {
  text-decoration: underline
}

.posts {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.posts img:not(.icon),
.posts video:not(:fullscreen) {
  object-fit: cover;
  aspect-ratio: 1;
}

#comments__expandBtn {
  display: none;
}

.comments__expandBtn__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: #fff
}

.comments__expandBtn__icon {
  font-size: 24px;
}

#comments__expandBtn ~ .comments__expandBtn__label > span::after {
  content: "⌄";
}

#comments__expandBtn:checked ~ .comments__expandBtn__label > span::after {
  content: "⌃";
}

#comments__expandBtn:checked ~ .comments {
  display: none;
}

.comment__media {
  height: 12em;
  display: block;
  margin: 0.5em 0;
}

@media only screen and (max-width: 1280px) {
  body {
    margin: 0 8vw;
  }
}

@media only screen and (max-width: 812px) {
  body {
    margin: 0 4vw;
  }
}